.navbar{
    color: #dc0a11;
  background: linear-gradient(108deg, rgba(60,8,8,1) 71%, rgba(184,28,14,1) 100%);
}
.navbar-brand{
  text-shadow: 1px 1px 2px rgb(231, 220, 220), 0 0 1em white, 0 0 0.2em white;
}
.DocSearch-Button-Container{
  color: #9dddbd;
  
}